@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: content-box;
    
}

input,select,button{
    border: 1px solid rgba(137, 83, 219, 0.89) ;
    outline: none;
}

button:hover{
    opacity: 0.5;
}

.card{
    @apply w-1/2  h-1/4 border-white 
}

.black{
    color: black;
}

.width{
    width: 10.5rem;
}

/* .password{
    display: inline-block;
    width: 13rem;
} */

@media (max-width:329px) {
    input{
        padding: 3px 0;
    }
}

